#review {
  padding-top: 178px;
}


.ReviewTextRow{
  display: flex;
  gap: 183px;
}

.reviewText1 h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Adamina", serif;
  color: #000;

}

.reviewText1 p {
  width: 262px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  color: #000;
  margin-top: 23px;
  margin-bottom: 10px;

}

.reviewText1 .reting {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 17px;
}

.reviewText1 .reting .star {
  display: flex;
  gap: 6px;
  color: #DEEC3C;
}


.reviewText1 .reting .star i {
  height: 10px;
}


.reviewText1 .rating_review{
  font-size: 13px;
  font-weight: 400;
  font-family: "Adamina", serif;
  color: #000;

}


.reviewText2 h2{
  width: 676px;
  font-size: 36px;
  font-weight: 500;
  font-family: "Lora", serif;
  color: #000;


}


.reviewText2 .review_text .text2{
  font-size: 24px;
  font-weight: 500;
  font-family: "Lora", serif;
  color: #000;
  margin-top: 59px;
  margin-bottom: 11px;

}


.reviewText2 .review_text .text3{
  font-size: 16px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  color: #000;



}